.formulario{
    margin-top: 80px;
}

.fecha{
    display:flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 30%;
    padding-right: 80px;
    height: 50%;
}

.boton-reservar{
    display:flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 70px;
    color: rgba(146, 235, 12, 0.731);
}

@media (max-height: 1000px){
    .body{
        background-image: url(https://images.unsplash.com/photo-1601646761285-65bfa67cd7a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
        background-size: cover;
        min-height: 100vh;
        
    }
}


.titulo-agendar{
    padding-top: 3%;
}