@media (max-height: 1000px) {
    .fondo-login{
        background-image: url(https://images.unsplash.com/photo-1580153111806-5007b971dfe7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
        padding: 30%;
        background-size: cover;
        min-height: 100vh;
    }
}

#alert-login{
    z-index: 1;
    position: relative;
    top: -250px;
}