
@media (max-height: 1000px){
    .fondoSignup{
        background-image: url(https://images.unsplash.com/photo-1626567775813-432301cbde13?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
        padding: 30%;
        background-size: cover;
        min-height: 100vh;
    }  
}